// color
$black: #00000000;
$white: #ffffff00;
$light-bg: #ffffff;
$dark-bg: #222222;

@for $i from 1 through 10 {
  .c-#{$i}{color: opacify($black, $i / 10)}
}
.dk{
  @for $i from 1 through 10 {
    &.c-#{$i}, .c-#{$i}, .c-#{$i} &{color: opacify($white, $i / 10)}
  }
}

.bg-f{background-color: $light-bg}

@for $i from 1 through 5 {
  .bg-#{$i}{background-color: opacify($black, $i / 25)}
}
.dk{
  &.bg-f, .bg-f{background-color: $dark-bg}
  @for $i from 1 through 5 {
    &.bg-#{$i}, .bg-#{$i}{background-color: opacify($white, $i / 25)}
  }
}


// hover
@for $i from 1 through 4 {
  .hv-#{$i}:hover{background-color: opacify($black, $i / 20);}
}
.dk{
  @for $i from 1 through 4 {
    &.hv-#{$i}:hover, .hv-#{$i}:hover{background-color: opacify($white, $i / 20);}
  }
}
// active
@for $i from 1 through 4 {
  .at-#{$i}:active{background-color: opacify($black, $i / 20 + 0.05);}
}
.dk{
  @for $i from 1 through 4 {
    &.at-#{$i}:active, .at-#{$i}:active{background-color: opacify($white, $i / 20 + 0.05);}
  }
}