@import './variable';

.h\:.a:hover, .a\:.a:active, .f\:.a:focus{cursor: pointer;}
.h\:.b:hover, .a\:.b:active, .f\:.b:focus{font-weight: bold;}
.h\:.u:hover, .a\:.u:active, .f\:.u:focus{text-decoration: underline;}
.h\:.i:hover, .a\:.i:active, .f\:.i:focus{font-style: italic;}

@each $n in $text-color-value {
  $c: transparentize($text-color, 1 - $n / 10);
  .h\:c-#{$n}:hover{color: $c}
  .a\:c-#{$n}:active{color: $c}
  .f\:c-#{$n}:focus{color: $c}
}

@each $n in $bg-color-value {
  $c: transparentize($bg-color, 1 - $n / 25);
  .h\:bg-#{$n}:hover{background-color: $c}
  .a\:bg-#{$n}:active{background-color: $c}
  .f\:bg-#{$n}:focus{background-color: $c}
}

@each $n in $border-color-value {
  $c:transparentize($border-color, 1 - $n / 10);
  .h\:bc-#{$n}:hover{border-color: $c}
  .a\:bc-#{$n}:active{border-color: $c}
  .f\:bc-#{$n}:focus{border-color: $c}
}

@each $n in $text-color-value {
  $c: transparentize($text-color-dark, 1 - $n / 10);
  .dk.h\:c-#{$n}:hover, .h\:c-#{$n} .dk:hover, .dk .h\:c-#{$n}:hover{color: $c}
  .dk.a\:c-#{$n}:active, .a\:c-#{$n} .dk:active, .dk .a\:c-#{$n}:active{color: $c}
  .dk.f\:c-#{$n}:focus, .f\:c-#{$n} .dk:focus, .dk .f\:c-#{$n}:active{color: $c}
}

@each $n in $bg-color-value {
  $c: transparentize($bg-color-dark, 1 - $n / 25);
  .dk.h\:bg-#{$n}:hover, .dk .h\:bg-#{$n}:hover{background-color: $c}
  .dk.a\:bg-#{$n}:active, .dk .a\:bg-#{$n}:active{background-color: $c}
  .dk.f\:bg-#{$n}:focus, .dk .f\:bg-#{$n}:focus{background-color: $c}
}

@each $n in $border-color-value {
  $c:transparentize($border-color-dark, 1 - $n / 10);
  .dk.h\:bc-#{$n}:hover, .dk .h\:bc-#{$n}:hover{border-color: $c}
  .dk.a\:bc-#{$n}:active, .dk .a\:bc-#{$n}:active{border-color: $c}
  .dk.f\:bc-#{$n}:focus, .dk .f\:bc-#{$n}:focus{border-color: $c}
}
