// font-size
$fs-nums: 12, 13, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 36, 40;
@each $num in $fs-nums {
  .fs-#{$num}{font-size: #{$num}px}
}
$lh-nums: 10, 12, 14, 16, 18, 20, 22, 24;
@each $num in $lh-nums {
  .lh-#{$num}{line-height: #{$num / 10}em;}
}

// margin, padding
$mp-nums: 1, 2, 3, 4, 5, 7, 10, 15, 20, 25, 30, 40, 50, 0;
@each $num in $mp-nums {
  .m-#{$num}{margin: #{$num}px}
  .mt-#{$num}{margin-top: #{$num}px}
  .mr-#{$num}{margin-right: #{$num}px}
  .mb-#{$num}{margin-bottom: #{$num}px}
  .ml-#{$num}{margin-left: #{$num}px}

  .p-#{$num}{padding: #{$num}px}
  .pt-#{$num}{padding-top: #{$num}px}
  .pr-#{$num}{padding-right: #{$num}px}
  .pb-#{$num}{padding-bottom: #{$num}px}
  .pl-#{$num}{padding-left: #{$num}px}
}

// opacity
$o-nums: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
.o-05{opacity: 0.05;}
@each $num in $o-nums{
  .o-#{$num}{opacity: #{$num / 10};}
}

// color
@for $i from 1 through 10 {
  .c-#{$i}{color: RGBA(0, 0, 0, #{$i / 10})}
}
.dk{
  @for $i from 1 through 10 {
    &.c-#{$i}, .c-#{$i}, .c-#{$i} &{color: RGBA(255, 255, 255, #{$i / 10})}
  }
}

@for $i from 1 through 10 {
  .bg-#{$i}{background-color: RGBA(0, 0, 0, #{$i / 30})}
}
.dk{
  @for $i from 1 through 10 {
    &.bg-#{$i}, .bg-#{$i}{background-color: RGBA(255, 255, 255, #{$i / 30})}
  }
}

// border
.bd, .bt, .br, .bb, .bl{border-style: solid;border-width: 0;}
.bd{border-width: 1px;}
.bt{border-top-width: 1px;}
.br{border-top-width: 1px;}
.bb{border-top-width: 1px;}
.bl{border-top-width: 1px;}

@for $i from 1 through 10 {
  .bc-#{$i}{border-color: RGBA(0, 0, 0, #{$i / 10});}
}
.dk{
  @for $i from 1 through 10 {
    &.bc-#{$i}, .bc-#{$i}{border-color: RGBA(255, 255, 255, #{$i / 10});}
  }
}

// border-radius
$r-nums: 2, 4, 6, 8, 10, 12;
@each $r in $r-nums {
  .r-#{$r}{border-radius: #{$r}px}
}

// z-index
$z-nums: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $z in $z-nums {
  .z-#{$z}{z-index: #{$z}}
}

// hover
@for $i from 1 through 4 {
  .hv-#{$i}:hover{background-color: RGBA(0, 0, 0, #{$i / 20});}
}
.dk{
  @for $i from 1 through 4 {
    &.hv-#{$i}:hover, .hv-#{$i}:hover{background-color: RGBA(255, 255, 255, #{$i / 20});}
  }
}
// active
@for $i from 1 through 4 {
  .at-#{$i}:active{background-color: RGBA(0, 0, 0, #{$i / 20 + 0.05});}
}
.dk{
  @for $i from 1 through 4 {
    &.at-#{$i}:active, .at-#{$i}:active{background-color: RGBA(255, 255, 255, #{$i / 20 + 0.05});}
  }
}
