$width-height: (
  max: 5,
  step: 0.1,
  unit: em
);
$position: (
  max: 5,
  step: 0.1,
  unit: em
);
$margin-padding: (
  max: 5,
  step: 0.1,
  unit: em
);
$border-width: (
  max: 20,
  step: 1,
  unit: px
);
$font-size: (
  max: 4,
  step: 0.1,
  unit: rem
);
$line-height: (
  max: 4,
  step: 0.1,
  unit: em
);
$radius: (
  max: 20,
  step: 0.1,
  unit: em
);
$flex: (
  max: 20,
  step: 1
);
$grid: (
  max: 20,
  step: 1
);
$grid-gap: (
  max: 5,
  step: 0.1,
  unit: em
);
$during: (
  max: 1000,
  step: 100,
  unit: ms
);
$opacity: (
  step: 0.01
);
$z-index: (
  max: 100,
  step: 1
);
$ring: (
  max: 10,
  step: 1,
  unit: px
);

// 基础背景色
$bg-base-color: (
  light: #ffffff,
  dark: #0d1117
);
// 字体叠加色
$text-color: (
  light: #000,
  dark: #fff,
  step: 0.01
);
// 背景叠加色
$bg-color: (
  light: #13161b,
  dark: #ffffff,
  step: 0.01
);
// 边框叠加色
$border-color: (
  light: #13161b,
  dark: #ffffff,
  step: 0.01
);

// 此处的颜色并不会受黑色模式的影响
$color: (
  step: 0.01,
  list: (
    white: #ffffff,
    gray: #8d8d8d,
    black: #000000,
    blue: #1a6df1,
    cyan: #19bedb,
    green: #10ba75,
    yellow: #e9ae0a,
    orange: #e96913,
    red: #e93232,
    pink: #e72690,
    purple: #ab44ef,
  )
);

$status: (
  h: hover,
  f: focus,
  a: active,
  c: checked
);

$media-query: (
  xl: 1920,
  lg: 1366,
  md: 992,
  sm: 768,
  xs: 576
);

$transition: (
  c: color,
  bg: background-color,
  o: opacity,
  bc: border-color,
  shadow: box-shadow,
  tsfm: transform
);

