$width-height-max: 20;
$width-height-step: 0.2;

// 输出 .fs-12{ font-size: 12px }
$font-size: 12, 13, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 36, 40;

$font-size-min: 0;
$font-size-max: 20;
$font-size-step: 0.1;

// line-height
$line-height-max: 10;
$line-height-step: 0.1;

$opacity-max: 10;

$z-index-max: 10;

// border-radius
$rounded-max: 20;
$rounded-step: 0.1;

// margin padding
$margin-padding-max: 20;
$margin-padding-step: 0.2;
// flex 输出 .f-1{ flex: 1 }
$flex-max: 10;

// grid
$grid: 12;
$grid-gap: 1, 2, 3, 4, 5, 7, 10, 15, 20, 25, 30, 40, 50;

// transition
$transition-during: 100, 200, 300, 400, 500;

// 颜色相关
$text-color: #000;         // 文字颜色
$text-color-dark: #fff;    // 深色模式下文字颜色
$text-color-value: 2, 4, 6, 8, 10;

$bg-light: #fff;           // 亮色模式下的基础背景色（一般用在body上）
$bg-dark: #0d1117;            // 暗色模式下的基础背景色（一般用在body上）
$bg-color: #13161b;           // 背景颜色
$bg-color-dark: #fff;      // 深色模式下背景颜色
$bg-color-value: 1, 2, 3, 4, 5;    // 背景的透明度为：实际数值 / 25

$border-color: #13161b;       // 边框颜色
$border-color-dark: #fff;  // 深色模式下边框颜色
$border-color-value: 1, 2, 3, 4, 5, 0;

// 此处的颜色并不会受黑色模式的影响
$colors: (
  white: #fff,
  gray: #8d8d8d,
  black: #000,

  blue: #1a6df1,
  green: #10ba75,
  yellow: #f59e0b,
  red: #ef4444,
);
$colors-value: 1, 2, 3, 4, 5, 6, 7, 8, 9;

// media query
$media-query: (
  // xl: 9999,
  lg: 1921,
  md: 1367,
  sm: 1001,
  xs: 769,
  xxs: 601
);

