@import '../variable';

$max: 1 / $color-step;
$step: $color-step;

@each $key, $val in $colors{
  .h\:bg-#{$key}:hover{background-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .h\:bg-#{$key}-#{$i}:hover{background-color: transparentize($val, 1 - $num)}
  }
}

@each $key, $val in $colors{
  .f\:bg-#{$key}:focus{background-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .f\:bg-#{$key}-#{$i}:focus{background-color: transparentize($val, 1 - $num)}
  }
}

@each $key, $val in $colors{
  .a\:bg-#{$key}:active{background-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .a\:bg-#{$key}-#{$i}:active{background-color: transparentize($val, 1 - $num)}
  }
}

