@import '../variable';

$step: map-get($color, step);
$max: 1 / $step;
$colors: map-get($color, list);

@each $key, $val in $colors{
  .bg-#{$key}{background-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .bg-#{$key}-#{$i}{background-color: transparentize($val, 1 - $num);}
  }
}


@each $s, $str in $status {
  @each $key, $val in $colors{
    .#{$s}\:bg-#{$key}:#{$str}{background-color: $val;}
    @for $i from 0 through $max{
      $num: $i * $step;
      .#{$s}\:bg-#{$key}-#{$i}:#{$str}{background-color: transparentize($val, 1 - $num);}
    }
  }
}