@import '../variable';

$max: 1 / $color-step;
$step: $color-step;

@each $key, $val in $colors{
  .bg-#{$key}{background-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .bg-#{$key}-#{$i}{background-color: transparentize($val, 1 - $num)}
  }
}