@import '../variable';
$max: 1 / $bg-color-step;
$step: $bg-color-step;

@for $i from 0 through $max{
  $num: $i * $step;
  .h\:bg-#{$i}:hover{background-color: transparentize($bg-dark, 1 - $num)}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .f\:bg-#{$i}:focus{background-color: transparentize($bg-dark, 1 - $num)}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .a\:bg-#{$i}:active{background-color: transparentize($bg-dark, 1 - $num)}
}
