@import '../variable';

$map: $bg-color;
$step: map-get($map, step);
$max: 1 / $step;
$bg: map-get($map, dark);

.bg{background-color: map-get($bg-base-color, dark);}

@for $i from 0 through $max{
  $num: $i * $step;
  .bg-#{$i}{background-color: transparentize($bg, 1 - $num)}
}

@each $s, $str in $status {
  @for $i from 0 through $max{
    $num: $i * $step;
    .#{$s}\:bg-#{$i}:#{$str}{background-color: transparentize($bg, 1 - $num)}
  }
}