@import '../variable';

$max: 1 / $bg-color-step;
$step: $bg-color-step;

.bg{background-color: $bg-base-dark;}

@for $i from 0 through $max{
  $num: $i * $step;
  .bg-#{$i}{background-color: transparentize($bg-dark, 1 - $num)}
}