@import '../variable';

.bg{background-color: $bg-base-light;}

$max: 1 / $bg-color-step;
$step: $bg-color-step;

@for $i from 0 through $max{
  $num: $i * $step;
  .bg-#{$i}{background-color: transparentize($bg-light, 1 - $num)}
}

@each $s, $str in $status {
  @for $i from 0 through $max{
    $num: $i * $step;
    .#{$s}\:bg-#{$i}:#{$str}{background-color: transparentize($bg-light, 1 - $num)}
  }
}