@import '../variable';

@for $i from 0 through $opacity-max{
  .h\:o-#{$i}:hover{opacity: $i / 10;}
}
@for $i from 0 through $opacity-max{
  .f\:o-#{$i}:focus{opacity: $i / 10;}
}
@for $i from 0 through $opacity-max{
  .a\:o-#{$i}:active{opacity: $i / 10;}
}