@import '../variable';

$max: 1 / $opacity-step;
$step: $opacity-step;

@for $i from 0 through $max{
  $num: $i * $step;
  .h\:o-#{$num}:hover{opacity: $num;}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .f\:o-#{$num}:focus{opacity: $num;}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .a\:o-#{$num}:active{opacity: $num;}
}