@import '../variable';

$unit: $ring-unit;
$step: $ring-step;
$max: $ring-max / $step;

@each $key, $val in $colors{
  .ring-#{$key}:focus{box-shadow: 0 0 0 2px transparentize($val, 0.7);}
  @for $i from 0 through $max{
    $num: $i * $step;
    .ring-#{$key}-#{$i}:focus{box-shadow: 0 0 0 #{$num}px transparentize($val, 0.7);}
  }
}