@import '../variable';

$trans: (
  c: color,
  bg: background-color,
  o: opacity,
  bc: border-color,
  shadow: box-shadow,
  tsfm: transform
);

.trans{transition: all .3s;}
@each $key, $val in $trans{
  .trans-#{$key}{transition-property: $val;}
}


$max: ($during-max - $during-min) / $during-step;
$min: $during-min;
$step: $during-step;

@for $i from 0 through $max{
  $num: $min + $i * $step;
  .dur-#{$num}{transition-duration: #{$num}ms;}
}