@import '../variable';

.trans{transition: all 200ms;}
@each $key, $val in $transition{
  .trans-#{$key}{transition-property: $val;transition-duration: 200ms;}
}


$map: $during;
$step: map-get($map, step);
$unit: map-get($map, unit);
$max: map-get($map, max) / $step;

@for $i from 0 through $max{
  $num: $i * $step;
  .dur-#{$num}{transition-duration: #{$num}#{$unit};}
}