@import '../variable';

$max: ($z-index-max - $z-index-min) / $z-index-step;
$min: $z-index-min;
$step: $z-index-step;

@for $i from 0 through $max{
  $num: $min + $i * $step;
  .z-#{$num}{z-index: $num;}
}