@import '../variable';

$max: $z-index-max / $z-index-step;
$step: $z-index-step;

@for $i from 0 through $max{
  $num: $i * $step;
  .z-#{$i}{z-index: $num;}
}

@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {
    @for $i from 0 through $max{
      $num: $i * $step;
      .#{$key}\:z-#{$i}{z-index: $num;}
    }
  }
}