@import '../variable';

@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {
    
    .#{$key}\:m-a{margin: auto;}
    .#{$key}\:mx-a{margin-left: auto;margin-right: auto;}
    .#{$key}\:my-a{margin-top: auto;margin-bottom: auto;}
    .#{$key}\:mt-a{margin-top: auto;}
    .#{$key}\:mr-a{margin-right: auto;}
    .#{$key}\:mb-a{margin-bottom: auto;}
    .#{$key}\:ml-a{margin-left: auto;}


    @for $i from 0 through $margin-padding-max {
      $num: $i * $margin-padding-step;
      .#{$key}\:m-#{$i}{margin: #{$num}em}
    }
    @for $i from 0 through $margin-padding-max {
      $num: $i * $margin-padding-step;
      .#{$key}\:mx-#{$i}{margin-left: #{$num}em;margin-right: #{$num}em;}
      .#{$key}\:my-#{$i}{margin-top: #{$num}em;margin-bottom: #{$num}em}
    }
    @for $i from 0 through $margin-padding-max {
      $num: $i * $margin-padding-step;
      .#{$key}\:mt-#{$i}{margin-top: #{$num}em}
      .#{$key}\:mr-#{$i}{margin-right: #{$num}em}
      .#{$key}\:mb-#{$i}{margin-bottom: #{$num}em}
      .#{$key}\:ml-#{$i}{margin-left: #{$num}em}
    }


    

    @for $i from 0 through $margin-padding-max {
      $num: $i * $margin-padding-step;
      .#{$key}\:p-#{$i}{padding: #{$num}em}
    }
    @for $i from 0 through $margin-padding-max {
      $num: $i * $margin-padding-step;
      .#{$key}\:px-#{$i}{padding-left: #{$num}em;padding-right: #{$num}em;}
      .#{$key}\:py-#{$i}{padding-top: #{$num}em;padding-bottom: #{$num}em}
    }
    @for $i from 0 through $margin-padding-max {
      $num: $i * $margin-padding-step;
      .#{$key}\:pt-#{$i}{padding-top: #{$num}em}
      .#{$key}\:pr-#{$i}{padding-right: #{$num}em}
      .#{$key}\:pb-#{$i}{padding-bottom: #{$num}em}
      .#{$key}\:pl-#{$i}{padding-left: #{$num}em}
    }
  }
}