@import '../variable';

$max: 1 / $text-color-step;
$step: $text-color-step;

@for $i from 0 through $max{
  $num: $i * $step;
  .c-#{$i}{color: transparentize($text-dark, 1 - $num)}
}

@each $s, $str in $status {
  @for $i from 0 through $max{
    $num: $i * $step;
    .#{$s}\:c-#{$i}:#{$str}{color: transparentize($text-dark, 1 - $num)}
  }
}