@import '../variable';

$map: $font-size;
$step: map-get($map, step);
$unit: map-get($map, unit);
$max: map-get($map, max) / $step;

@for $i from 0 through $max{
  $num: $i * $step;
  .fs-#{$num}{font-size: #{$num}#{$unit};}
}

// media query
@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {
    @for $i from 0 through $max{
      $num: $i * $step;
      .#{$key}\:fs-#{$num}{font-size: #{$num}#{$unit};}
    }
  }
}