$max: $font-size-max / $font-size-step;
$step: $font-size-step;
$unit: $font-size-unit;

@for $i from 0 through $max{
  $num: $i * $step;
  .fs-#{$num}{font-size: #{$num}#{$unit};}
}

// media query
@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {
    @for $i from 0 through $max{
      $num: $i * $step;
      .#{$key}\:fs-#{$num}{font-size: #{$num}#{$unit};}
    }
  }
}