.h\:a:hover{cursor: pointer;}
.a\:a:active{cursor: pointer;}
.f\:a:focus{cursor: pointer;}

.h\:b:hover{font-weight: bold;}
.a\:b:active{font-weight: bold;}
.f\:b:focus{font-weight: bold;}

.h\:u:hover{text-decoration: underline;}
.a\:u:active{text-decoration: underline;}
.f\:u:focus{text-decoration: underline;}

.h\:i:hover{font-style: italic;}
.a\:i:active{font-style: italic;}
.f\:i:focus{font-style: italic;}

.h\:s:hover{text-decoration: line-through;}
.a\:s:active{text-decoration: line-through;}
.f\:s:focus{text-decoration: line-through;}
