@import '../variable';

$map: $text-color;
$step: map-get($map, step);
$max: 1 / $step;
$c: map-get($map, light);

@for $i from 0 through $max{
  $num: $i * $step;
  .c-#{$i}{color: transparentize($c, 1 - $num)}
}

@each $s, $str in $status {
  @for $i from 0 through $max{
    $num: $i * $step;
    .#{$s}\:c-#{$i}:#{$str}{color: transparentize($c, 1 - $num)}
  }
}