@import '../variable';
$max: 1 / $text-color-step;
$step: $text-color-step;

@for $i from 0 through $max{
  $num: $i * $step;
  .h\:c-#{$i}:hover{color: transparentize($text-light, 1 - $num)}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .f\:c-#{$i}:focus{color: transparentize($text-light, 1 - $num)}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .a\:c-#{$i}:active{color: transparentize($text-light, 1 - $num)}
}
