@import '../variable';

@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {
    // flex
    .#{$key}\:fr{display: flex;flex-direction: row;}
    .#{$key}\:fc{display: flex;flex-direction: column;}
    .#{$key}\:ifr{display: inline-flex;flex-direction: row;}
    .#{$key}\:ifc{display: inline-flex;flex-direction: column;}
    
    .#{$key}\:as{align-items: flex-start;}
    .#{$key}\:ac{align-items: center;}
    .#{$key}\:ae{align-items: flex-end;}

    .#{$key}\:js{justify-content: flex-start;}
    .#{$key}\:jc{justify-content: center;}
    .#{$key}\:je{justify-content: flex-end;}
    .#{$key}\:fw{flex-wrap: wrap;}
    @for $i from 1 through $flex-max {
      .#{$key}\:f-#{$i}{flex: #{$i};}
    }
  }
}