@import '../variable';

$max: ($flex-max - $flex-min) / $flex-step;
$min: $flex-min;
$step: $flex-step;

@for $i from 0 through $max{
  $num: $min + $i * $step;
  .f-#{$num}{flex: $num;}
}
.fr{display: flex;flex-direction: row;}
.fc{display: flex;flex-direction: column;}
.ifr{display: inline-flex;flex-direction: row;}
.ifc{display: inline-flex;flex-direction: column;}
.wrap{flex-wrap: wrap;}

.as{align-items: flex-start;}
.ac{align-items: center;}
.ae{align-items: flex-end;}

.js{justify-content: flex-start;}
.jc{justify-content: center;}
.je{justify-content: flex-end;}

