@import '../variable';

.gfr{display: grid;grid-auto-flow: row;}
.gfc{display: grid;grid-auto-flow: column;}

@for $n from 1 through $grid {
  .gtr-#{$n}{grid-template-rows: repeat(#{$n}, 1fr);}
  .gtc-#{$n}{grid-template-columns: repeat(#{$n}, 1fr);}

  .gr-#{$n}{grid-row: span #{$n};}
  .gc-#{$n}{grid-column: span #{$n};}

  .grs-#{$n}{grid-row-start: $n;}
  .gcs-#{$n}{grid-column-start: $n;}
}

@each $n in $grid-gap {
  .gp-#{$n}{grid-gap: #{$n}px}
}