@import '../variable';

@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {
    // grid
    .#{$key}\:gfr{display: grid;grid-auto-flow: row;}
    .#{$key}\:gfc{display: grid;grid-auto-flow: column;}

    @for $n from 1 through $grid-max {
      .#{$key}\:gtr-#{$n}{grid-template-rows: repeat(#{$n}, 1fr);}
      .#{$key}\:gtc-#{$n}{grid-template-columns: repeat(#{$n}, 1fr);}

      .#{$key}\:gr-#{$n}{grid-row: span #{$n};}
      .#{$key}\:gc-#{$n}{grid-column: span #{$n};}

      .#{$key}\:grs-#{$n}{grid-row-start: $n;}
      .#{$key}\:gcs-#{$n}{grid-column-start: $n;}
    }
  }
}