
@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {
    // flex
    .#{$key}\:bd{border-width: 1px;}
    .#{$key}\:bx{border-left-width: 1px;border-right-width: 1px;}
    .#{$key}\:by{border-top-width: 1px;border-bottom-width: 1px;}
    .#{$key}\:bt{border-top-width: 1px;}
    .#{$key}\:br{border-right-width: 1px;}
    .#{$key}\:bb{border-bottom-width: 1px;}
    .#{$key}\:bl{border-left-width: 1px;}

    $unit: $border-width-unit;

    @for $i from 0 through $border-width-max{
      $num: $i * $border-width-step;
      .#{$key}\:bd-#{$num}{border-width: #{$num}#{$unit};}
    }
    @for $i from 0 through $border-width-max{
      $num: $i * $border-width-step;
      .#{$key}\:bx-#{$num}{border-left-width: #{$num}#{$unit};border-right-width: #{$num}#{$unit};}
      .#{$key}\:by-#{$num}{border-top-width: #{$num}#{$unit};border-bottom-width: #{$num}#{$unit};}
    }
    @for $i from 0 through $border-width-max{
      $num: $i * $border-width-step;
      .#{$key}\:bt-#{$num}{border-top-width: #{$num}#{$unit};}
      .#{$key}\:br-#{$num}{border-right-width: #{$num}#{$unit};}
      .#{$key}\:bb-#{$num}{border-bottom-width: #{$num}#{$unit};}
      .#{$key}\:bl-#{$num}{border-left-width: #{$num}#{$unit};}
    }

    .#{$key}\:bd-dash{border-style: dashed;}
  }
}