@import '../variable';

@for $i from 0 through $rounded-max {
  $num: $i * $rounded-step;
  .r-#{$i}{border-radius: #{$num}em}
  .rt-#{$i}{border-top-left-radius: #{$num}em;border-top-right-radius: #{$num}em;}
  .rb-#{$i}{border-bottom-left-radius: #{$num}em;border-bottom-right-radius: #{$num}em;}
  .rl-#{$i}{border-top-left-radius: #{$num}em;border-bottom-left-radius: #{$num}em;}
  .rr-#{$i}{border-top-right-radius: #{$num}em;border-bottom-right-radius: #{$num}em;}
  .rtl-#{$i}{border-top-left-radius: #{$num}em;}
  .rtr-#{$i}{border-top-right-radius: #{$num}em;}
  .rbl-#{$i}{border-bottom-left-radius: #{$num}em;}
  .rbr-#{$i}{border-bottom-right-radius: #{$num}em;}
}
.r-full{border-radius: 50%}
.rt-full{border-top-left-radius: 50%;border-top-right-radius: 50%;}
.rb-full{border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;}
.rl-full{border-top-left-radius: 50%;border-bottom-left-radius: 50%;}
.rr-full{border-top-right-radius: 50%;border-bottom-right-radius: 50%;}
.rtl-full{border-top-left-radius: 50%;}
.rtr-full{border-top-right-radius: 50%;}
.rbl-full{border-bottom-left-radius: 50%;}
.rbr-full{border-bottom-right-radius: 50%;}

.r-max{border-radius: 9999px;}
.rt-max{border-top-left-radius: 9999px;border-top-right-radius: 9999px;}
.rb-max{border-bottom-left-radius: 9999px;border-bottom-right-radius: 9999px;}
.rl-max{border-top-left-radius: 9999px;border-bottom-left-radius: 9999px;}
.rr-max{border-top-right-radius: 9999px;border-bottom-right-radius: 9999px;}
.rtl-max{border-top-left-radius: 9999px;}
.rtr-max{border-top-right-radius: 9999px;}
.rbl-max{border-bottom-left-radius: 9999px;}
.rbr-max{border-bottom-right-radius: 9999px;}