@import '../variable';

.bd{border-width: 1px;}
.bx{border-left-width: 1px;border-right-width: 1px;}
.by{border-top-width: 1px;border-bottom-width: 1px;}
.bt{border-top-width: 1px;}
.br{border-right-width: 1px;}
.bb{border-bottom-width: 1px;}
.bl{border-left-width: 1px;}

$unit: $border-width-unit;
@for $i from 0 through $border-width-max{
  $num: $i * $border-width-step;
  .bd-#{$num}{border-width: #{$num}#{$unit};}
}
@for $i from 0 through $border-width-max{
  $num: $i * $border-width-step;
  .bx-#{$num}{border-left-width: #{$num}#{$unit};border-right-width: #{$num}#{$unit};}
  .by-#{$num}{border-top-width: #{$num}#{$unit};border-bottom-width: #{$num}#{$unit};}
}
@for $i from 0 through $border-width-max{
  $num: $i * $border-width-step;
  .bt-#{$num}{border-top-width: #{$num}#{$unit};}
  .br-#{$num}{border-right-width: #{$num}#{$unit};}
  .bb-#{$num}{border-bottom-width: #{$num}#{$unit};}
  .bl-#{$num}{border-left-width: #{$num}#{$unit};}
}

.bd-dash{border-style: dashed;}
