@import '../variable';

$map: $radius;
$step: map-get($map, step);
$unit: map-get($map, unit);
$max: map-get($map, max) / $step;

@for $i from 0 through $max {
  $num: $i * $step;
  .radius-#{$i}{border-radius: #{$num}#{$unit}}
  .radius-t-#{$i}{border-top-left-radius: #{$num}#{$unit};border-top-right-radius: #{$num}#{$unit};}
  .radius-b-#{$i}{border-bottom-left-radius: #{$num}#{$unit};border-bottom-right-radius: #{$num}#{$unit};}
  .radius-l-#{$i}{border-top-left-radius: #{$num}#{$unit};border-bottom-left-radius: #{$num}#{$unit};}
  .radius-r-#{$i}{border-top-right-radius: #{$num}#{$unit};border-bottom-right-radius: #{$num}#{$unit};}
  .radius-tl-#{$i}{border-top-left-radius: #{$num}#{$unit};}
  .radius-tr-#{$i}{border-top-right-radius: #{$num}#{$unit};}
  .radius-bl-#{$i}{border-bottom-left-radius: #{$num}#{$unit};}
  .radius-br-#{$i}{border-bottom-right-radius: #{$num}#{$unit};}
  .radius-lt-#{$i}{border-top-left-radius: #{$num}#{$unit};}
  .radius-rt-#{$i}{border-top-right-radius: #{$num}#{$unit};}
  .radius-lb-#{$i}{border-bottom-left-radius: #{$num}#{$unit};}
  .radius-rb-#{$i}{border-bottom-right-radius: #{$num}#{$unit};}
}
.radius-full{border-radius: 50%}
.radius-t-full{border-top-left-radius: 50%;border-top-right-radius: 50%;}
.radius-b-full{border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;}
.radius-l-full{border-top-left-radius: 50%;border-bottom-left-radius: 50%;}
.radius-r-full{border-top-right-radius: 50%;border-bottom-right-radius: 50%;}
.radius-tl-full{border-top-left-radius: 50%;}
.radius-tr-full{border-top-right-radius: 50%;}
.radius-bl-full{border-bottom-left-radius: 50%;}
.radius-br-full{border-bottom-right-radius: 50%;}
.radius-lt-full{border-top-left-radius: 50%;}
.radius-rt-full{border-top-right-radius: 50%;}
.radius-lb-full{border-bottom-left-radius: 50%;}
.radius-rb-full{border-bottom-right-radius: 50%;}

.radius-max{border-radius: 9999px;}
.radius-t-max{border-top-left-radius: 9999px;border-top-right-radius: 9999px;}
.radius-b-max{border-bottom-left-radius: 9999px;border-bottom-right-radius: 9999px;}
.radius-l-max{border-top-left-radius: 9999px;border-bottom-left-radius: 9999px;}
.radius-r-max{border-top-right-radius: 9999px;border-bottom-right-radius: 9999px;}
.radius-tl-max{border-top-left-radius: 9999px;}
.radius-tr-max{border-top-right-radius: 9999px;}
.radius-bl-max{border-bottom-left-radius: 9999px;}
.radius-br-max{border-bottom-right-radius: 9999px;}
.radius-lt-max{border-top-left-radius: 9999px;}
.radius-rt-max{border-top-right-radius: 9999px;}
.radius-lb-max{border-bottom-left-radius: 9999px;}
.radius-rb-max{border-bottom-right-radius: 9999px;}


// media query
@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {

    @for $i from 0 through $max {
      $num: $i * $step;
      .#{$key}\:radius-#{$i}{border-radius: #{$num}#{$unit}}
      .#{$key}\:radius-t-#{$i}{border-top-left-radius: #{$num}#{$unit};border-top-right-radius: #{$num}#{$unit};}
      .#{$key}\:radius-b-#{$i}{border-bottom-left-radius: #{$num}#{$unit};border-bottom-right-radius: #{$num}#{$unit};}
      .#{$key}\:radius-l-#{$i}{border-top-left-radius: #{$num}#{$unit};border-bottom-left-radius: #{$num}#{$unit};}
      .#{$key}\:radius-r-#{$i}{border-top-right-radius: #{$num}#{$unit};border-bottom-right-radius: #{$num}#{$unit};}
      .#{$key}\:radius-tl-#{$i}{border-top-left-radius: #{$num}#{$unit};}
      .#{$key}\:radius-tr-#{$i}{border-top-right-radius: #{$num}#{$unit};}
      .#{$key}\:radius-bl-#{$i}{border-bottom-left-radius: #{$num}#{$unit};}
      .#{$key}\:radius-br-#{$i}{border-bottom-right-radius: #{$num}#{$unit};}
      .#{$key}\:radius-lt-#{$i}{border-top-left-radius: #{$num}#{$unit};}
      .#{$key}\:radius-rt-#{$i}{border-top-right-radius: #{$num}#{$unit};}
      .#{$key}\:radius-lb-#{$i}{border-bottom-left-radius: #{$num}#{$unit};}
      .#{$key}\:radius-rb-#{$i}{border-bottom-right-radius: #{$num}#{$unit};}
    }
    .#{$key}\:radius-full{border-radius: 50%}
    .#{$key}\:radius-t-full{border-top-left-radius: 50%;border-top-right-radius: 50%;}
    .#{$key}\:radius-b-full{border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;}
    .#{$key}\:radius-l-full{border-top-left-radius: 50%;border-bottom-left-radius: 50%;}
    .#{$key}\:radius-r-full{border-top-right-radius: 50%;border-bottom-right-radius: 50%;}
    .#{$key}\:radius-tl-full{border-top-left-radius: 50%;}
    .#{$key}\:radius-tr-full{border-top-right-radius: 50%;}
    .#{$key}\:radius-bl-full{border-bottom-left-radius: 50%;}
    .#{$key}\:radius-br-full{border-bottom-right-radius: 50%;}
    .#{$key}\:radius-lt-full{border-top-left-radius: 50%;}
    .#{$key}\:radius-rt-full{border-top-right-radius: 50%;}
    .#{$key}\:radius-lb-full{border-bottom-left-radius: 50%;}
    .#{$key}\:radius-rb-full{border-bottom-right-radius: 50%;}
    
    .#{$key}\:radius-max{border-radius: 9999px;}
    .#{$key}\:radius-t-max{border-top-left-radius: 9999px;border-top-right-radius: 9999px;}
    .#{$key}\:radius-b-max{border-bottom-left-radius: 9999px;border-bottom-right-radius: 9999px;}
    .#{$key}\:radius-l-max{border-top-left-radius: 9999px;border-bottom-left-radius: 9999px;}
    .#{$key}\:radius-r-max{border-top-right-radius: 9999px;border-bottom-right-radius: 9999px;}
    .#{$key}\:radius-tl-max{border-top-left-radius: 9999px;}
    .#{$key}\:radius-tr-max{border-top-right-radius: 9999px;}
    .#{$key}\:radius-bl-max{border-bottom-left-radius: 9999px;}
    .#{$key}\:radius-br-max{border-bottom-right-radius: 9999px;}
    .#{$key}\:radius-lt-max{border-top-left-radius: 9999px;}
    .#{$key}\:radius-rt-max{border-top-right-radius: 9999px;}
    .#{$key}\:radius-lb-max{border-bottom-left-radius: 9999px;}
    .#{$key}\:radius-rb-max{border-bottom-right-radius: 9999px;}
  }
}