@import '../variable';


@each $key, $val in $colors{
  .h\:bc-#{$key}:hover{border-color: $val;}
  @each $n in $colors-value {
    .h\:bc-#{$key}-#{$n}:hover{border-color: transparentize($val, 1 - $n / 10)}
  }
}


@each $key, $val in $colors{
  .f\:bc-#{$key}:focus{border-color: $val;}
  @each $n in $colors-value {
    .f\:bc-#{$key}-#{$n}:focus{border-color: transparentize($val, 1 - $n / 10)}
  }
}


@each $key, $val in $colors{
  .a\:bc-#{$key}:active{border-color: $val;}
  @each $n in $colors-value {
    .a\:bc-#{$key}-#{$n}:active{border-color: transparentize($val, 1 - $n / 10)}
  }
}