@import '../variable';

$max: 1 / $color-step;
$step: $color-step;

@each $key, $val in $colors{
  .bc-#{$key}{border-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .bc-#{$key}-#{$i}{border-color: transparentize($val, 1 - $num)}
  }
}