@import '../variable';

$max: 1 / $color-step;
$step: $color-step;

@each $key, $val in $colors{
  .h\:bc-#{$key}:hover{border-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .h\:bc-#{$key}-#{$i}:hover{border-color: transparentize($val, 1 - $num)}
  }
}

@each $key, $val in $colors{
  .f\:bc-#{$key}:focus{border-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .f\:bc-#{$key}-#{$i}:focus{border-color: transparentize($val, 1 - $num)}
  }
}

@each $key, $val in $colors{
  .a\:bc-#{$key}:active{border-color: $val;}
  @for $i from 0 through $max{
    $num: $i * $step;
    .a\:bc-#{$key}-#{$i}:active{border-color: transparentize($val, 1 - $num)}
  }
}

