@import '../variable';
$max: 1 / $border-color-step;
$step: $border-color-step;

@for $i from 0 through $max{
  $num: $i * $step;
  .h\:bc-#{$i}:hover{border-color: transparentize($border-light, 1 - $num)}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .f\:bc-#{$i}:focus{border-color: transparentize($border-light, 1 - $num)}
}
@for $i from 0 through $max{
  $num: $i * $step;
  .a\:bc-#{$i}:active{border-color: transparentize($border-light, 1 - $num)}
}
