@import '../variable';
@import '../variable';

$unit: $position-unit;

@each $key, $val in $media-query{
  @media screen and (max-width: #{$val}px) {

    @for $i from 0 through 99 {
      $num: 100% * $i / 100;
      .#{$key}\:l-#{$i}\%{left: #{$num}}
      .#{$key}\:r-#{$i}\%{right: #{$num}}
      .#{$key}\:t-#{$i}\%{top: #{$num}}
      .#{$key}\:b-#{$i}\%{bottom: #{$num}}
    }

    @for $i from 0 through $position-max {
      $num: $i * $position-step;
      .#{$key}\:l-#{$i}{left: #{$num}#{$unit}}
      .#{$key}\:r-#{$i}{right: #{$num}#{$unit}}
      .#{$key}\:t-#{$i}{top: #{$num}#{$unit}}
      .#{$key}\:b-#{$i}{bottom: #{$num}#{$unit}}
    }

  }
}